<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
        {% endblock %}

        <title>A very simple POC</title>
        {% endblock %}
    </head>
    <body>
        <!-- Your page content -->
        {% block content %}
        <div class="container">
            <div class="position-absolute top-50 start-50 translate-middle text-center">
                    <h1>A very basic POC for testing purpose</h1>
                    <p>See the API swagger</p>
                    <a href="{{url_for('api.doc')}}" class="btn btn-primary btn-lg" tabindex="-1" role="button">API swagger</a>
            </div>
        </div>
          
        
        {% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>